git+https://github.com/hipster-philology/nlp-pie-taggers.git@master #pie extended
typing~=3.7.4.3
pydantic~=2.10.6
fastapi~=0.115.11
uvicorn~=0.34.0
pydantic-settings~=2.8.1
semver~=3.0.4
httpx~=0.27.0